<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.io.mapper.BoardMapper">

	<select id="selectAllBoard" resultType="com.io.model.BoardDTO">
		select  b.*, ui.uname, d.did, d.dname 
		from userinfo ui join dept d 
		on ui.did = d.did
		join board b on b.uemail = ui.uemail
		order by b.regdate desc
	
	</select>
  
  
</mapper>