<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.io.mapper.TboardMapper">
	
   <update id="updateCode" parameterType="com.io.model.TboardDTO">
   	update tboard set code=#{code} where tno=#{tno}
   
   </update>

</mapper>
